* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #262524;
    color: #E7E7E7;
    padding-top: 50px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 46px;
    margin-right: 16px;
    border-radius: 30%;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    background-color: #2a3942;
    padding: 20px;
}

form {
    margin-bottom: 56px;
    max-width: 640px;
    width: 100%;
}

form div {
    display: flex;
    margin-bottom: 24px;
}

form input {
    width: 100%;
    font-size: 24px;
    background-color: #E7E7E7;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button {
    background-color: #009432;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

#ddd {
    max-width: 20%;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #E7E7E7;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #57646b;
}